<!-- source for index.html.erb template: -->
<!-- https://www.digitalocean.com/community/tutorials/how-to-set-up-user-authentication-with-devise-in-a-rails-7-application -->
<h1>Upcoming Events</h1>

<% if @upcoming_events.any? %>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Address</th>
      <th>Type</th>
      <th>Organizer</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @upcoming_events.each do |event_user| %>
      <% event = event_user.event %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.date&.strftime("%B %d, %Y") %></td>
        <td><%= event.address %></td>
        <td><%= event.event_type.titleize %></td>
        <td><%= event.user.first_name + " " + event.user.last_name %></td>
        <td><%= link_to "View", event_path(event) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>You haven't joined any upcoming events yet.</p>
<% end %>
<%= link_to "Create Event", new_event_path, class: "btn btn-primary" %>

<% if user_signed_in? %>
  <div>
    <br >
    <h2>My Wish List</h2>
    <% if current_user.preferences.any? %>
      <div>
        <% current_user.preferences.each do |item| %>
          <div>
            <strong><%= item.item_name %></strong>
            <span class="cost">$<%= number_with_precision(item.cost, precision: 2) %></span>
          </div>
        <% end %>
      </div>
      <%= link_to "Manage My Wishlist", preferences_path, class: "btn btn-secondary" %>
    <% else %>
      <p>You haven't added any items to your wishlist yet.</p>
      <%= link_to "Create Your Wishlist", new_preference_path, class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>
