<!-- source for index.html.erb layout: -->
<!-- https://www.digitalocean.com/community/tutorials/how-to-set-up-user-authentication-with-devise-in-a-rails-7-application -->
<% if user_signed_in? %>
  <div> Welcome <%= current_user.email %> </div>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= button_to "Sign in", new_user_session_path %>
<% end %>
<h1>Welcome to GiftWise!</h1>
<h2>Upcoming Events</h2>

<% if @upcoming_events.any? %>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Address</th>
      <th>Organizer</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @upcoming_events.each do |event_user| %>
      <% event = event_user.event %>
      <td>
        <td><%= event.name %></td>
        <td><%= event.date&.strftime("%B %d, %Y") %></td>
        <td><%= event.address %></td>
        <td><%= event.user.first_name + " " + event.user.last_name %></td>
        <td><%= link_to "View", event_path(event) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>You haven't joined any upcoming events yet.</p>
<% end %>
