<h1><%= @event.name %></h1>
<p><strong>Date:</strong> <%= @event.date %></p>
<p><strong>Address:</strong> <%= @event.address %></p>
<p><strong>Description:</strong> <%= @event.description %></p>

<%= link_to "Edit", edit_event_path(@event), class: "btn btn-warning" if @event.user == current_user %>

<%= link_to "Back", request.referer || root_path %>