<!--
Source for friends page template:
https://github.com/eltonlazzarin/friends-list-rails
-->
<h1>Your Friends</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Birthday</th>
    <th>Bio</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @friends.each do |friend| %>
    <tr>
      <!-- Name section -->
      <td>
        <% full_name = [friend.first_name, friend.last_name].compact.join(" ") %>
        <%= full_name.present? ? full_name : friend.email.split("@").first.titleize %> <!-- Fallback to use email name as name -->
      </td>

      <!-- Email section -->
      <td><%= friend.email %></td>

      <!-- Birthday section -->
      <td>
        <% if friend.birthdate.present? %>
          <%= friend.birthdate.strftime("%b %d, %Y") %>
        <% else %>
          <em>--</em>
        <% end %>
      </td>

      <!-- Bio section -->
      <td>
        <% if friend.bio.present? %>
          <%= truncate(friend.bio, length: 40) %>
        <% else %>
          <em>No Bio</em>
        <% end %>
      </td>

      <!-- Remove button -->
      <td class="text-end">
        <% friendship = current_user.accepted_friendships.find_by(friend_id: friend.id) %>

        <%= button_to "Remove",
                      friendship_path(friendship),
                      method: :delete,
                      data: { confirm: "Remove this friend?" },
                      class: "btn btn-sm btn-danger" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "Find Friends", new_friendships_path, class: "btn btn-secondary" %>
