<div>
  <h1><%= @user.first_name %>'s Wishlist</h1>

  <% if @preferences.any? %>
    <table class="table table-striped" style="max-width: 600px;">
      <thead>
      <tr>
        <th>Item Name</th>
        <th>Cost</th>
        <th>Details</th>
        <th>Claimed By</th>
        <th>Purchased?</th>
      </tr>
      </thead>
      <tbody>
      <% @preferences.each do |item| %>
        <tr>
          <td><%= "#{item.item_name}" %></td>
          <td> <%= "#{number_to_currency(item.cost)}" %></td>
          <td> <%= "#{item.notes}" %></td>
          <% if !item.giver.nil? %>
            <td> <%= "#{item.giver.first_name}" %>
            <% if item.giver == current_user %>
                <%= button_to "Unclaim",
                              unclaim_preference_preferences_path(item_id: item.id, user_id: current_user.id),
                              method: :post,
                              class: "btn btn-sm btn-danger" %></td>
            <% end %>
            </td>
          <% else %>
            <td><%= button_to "Claim this gift",
                              claim_preference_preferences_path(item_id: item.id, user_id: current_user.id),
                              method: :post,
                          class: "btn btn-sm btn-success" %></td>
          <% end %>
          <td> <%= check_box_tag "preference_ids[]", item.id, disabled: (item.giver_id != current_user.id) %> </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No items on wish list yet.</p>
  <% end %>
</div>