<h1>Find gifts for <%= @user.first_name %></h1>

<h2>Event: <%=@event.name%></h2>
<br>
<div class="view_user_wishlist_grid">
  <div>
  <h2><%= @user.first_name %>'s Wishlist</h2>

  <% if @preferences.any? %>
    <table class="table table-striped" style="max-width: 600px;">
      <thead>
      <tr>
        <th>Item Name</th>
        <th>Cost</th>
        <th>Details</th>
        <th>Claimed By</th>
        <th>Purchased?</th>
      </tr>
      </thead>
      <tbody>

      <% @preferences.each do |item| %>
      <tr>

          <td><%= "#{item.item_name}" %></td>
          <td> <%= "#{number_to_currency(item.cost)}" %></td>
          <td> <%= "#{item.notes}" %></td>
        <td>
          <% if !item.giver.nil? %>

            <% if item.giver == current_user %>
              <%= "#{item.giver.first_name}" %>
                <%= button_to "Unclaim",
                              unclaim_preference_preferences_path(item_id: item.id, user_id: current_user.id, event_id: @event.id),
                              method: :post,
                              class: "btn btn-sm btn-danger" %></td>
            <% else %>
              <p>Someone else</p>
            <% end %>
          <% else %>
            <%= button_to "Claim this gift",
                              claim_preference_preferences_path(item_id: item.id, user_id: current_user.id, event_id: @event.id),
                              method: :post,
                          class: "btn btn-sm btn-success" %>
          <% end %>
          </td>
          <td>
          <!-- Checkbox based off of ChatGPT response -->
          <%= form_with model: item, url: toggle_purchase_preference_path(item), method: :post, local: true do |f| %>

              <%= f.check_box :purchased, checked: item.purchased,  onchange: 'this.form.submit();', disabled: (item.giver != current_user) %>

          <% end %>
        </td>
          </tr>

      <% end %>

      </tbody>
    </table>
  <% else %>
    <p>No items on wish list yet.</p>
  <% end %>
  </div>

  <div>
    <h2>My Gift Ideas for <%= @user.first_name %></h2>

    <% if @suggestions.any? %>
      <table class="table table-striped" style="max-width: 600px;">
        <thead>
        <tr>
          <th>Item Name</th>
          <th>Cost</th>
          <th>Details</th>
          <th>Purchased?</th>
        </tr>
        </thead>
        <tbody>

        <% @suggestions.each do |item| %>
          <tr>

            <td><%= "#{item.item_name}" %></td>
            <td> <%= "#{number_to_currency(item.cost)}" %></td>
            <td> <%= "#{item.notes}" %></td>

              <td>
                <!-- Checkbox based off of ChatGPT response FIX THIS-->
                <%= form_with model: item, url: toggle_purchase_preference_path(item), method: :post, local: true do |f| %>

                  <%= f.check_box :purchased, checked: item.purchased,  onchange: 'this.form.submit();', disabled: (item.giver != current_user) %>

                <% end %>
              </td>
              </tr>

        <% end %>

        </tbody>
      </table>
    <% else %>
      <p>No gift ideas yet.</p>
    <% end %>
  </div>
</div>
<%= link_to "Back to event", @event, class: "btn btn-secondary" %>